{% extends 'base.html' %}

{% block title %} Login Page {% endblock %}

{% block body %}
  
<div class="mx-auto card mx-auto col-md-6 mt-5" style="padding: 0px;">
    <div class="card-header">Login Form</div>
    <form class="card-body" action="" method="post">
        <div>
            <label for="id_info" class="form-label">username, email or phone number</label>
            {{form.info}}
        </div>
        <div>
            <label for="id_password" class="form-label">password</label>
            {{form.password}}
        </div>
        {% csrf_token %}
        <div class="d-flex justify-content-center align-items-center">
            <input type="submit" value="login" class="btn btn-primary btn-lg mt-3">
        </div>
        <a class="d-block" href="{% url 'panel:register' %}">Register</a>
        <a class="d-block" href="">Forget Password</a>
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}