{% load static %}
<section class="footer-main-sec w-100 float-left padding-top padding-bottom bg-dark-black">
    <div class="wrapper2" style="text-align: right;" dir="rtl">
        <div class="footer-inner-section">
            <div class="footer-logo footer-box">
                <a href="index-2.html">
                    <figure>
                        <img src="{% static 'media/AiMentor-logo.png' %}" alt="AiMentor-logo">
                    </figure>
                </a>
                <p class="mb-0">حق چاپ © ۱۴۰۲ محسن دادار</p>
                <p>تمامی حقوق </p>
                <ul class="list-unstyled mb-0">
                    <li><span class="d-block">شبکه های اجتماعی</span></li>
                    <li class="d-inline-block mr-0"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="d-inline-block"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                    <li class="d-inline-block"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                    <li class="d-inline-block ml-0"><a href="https://pk.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="footer-box">
                <h4>درباره ما</h4>
                <ul class="list-unstyled">
                    <li><a href="about.html">درباره شرکت</a></li>
                    <li><a href="pricing.html">راه حل های ما</a></li>
                    <li><a href="service.html">بهترین خدمات ما</a></li>
                    <li class="mb-0"><a href="team.html">تیم حرفه ای ما</a></li>
                </ul>
            </div>
            <div class="footer-box address-box">
                <h4>آدرس</h4>
                <ul class="list-unstyled">
                    <li class="position-relative"><i class="fas fa-map-marker-alt"></i>فارس, شیراز, ساختمان الف <br> طبقه ۹,واحد ۲۱۰</li>
                    <li class="position-relative"><i class="fas fa-phone-volume"></i> <a href="tel:+61383766284">  ۸۳۵۱ ۶۳۷۱ ۲۱+</a></li>
                    <li class="mb-0 position-relative"><i class="fas fa-envelope"></i> <a href="mailto:info@designingmedia.com">info@dadar.com</a></li>
                </ul>
            </div>
            <div class="footer-box footer-form-box">
                <h4>ثبت نام خبرنامه</h4>
                <ul class="list-unstyled">
                    <li class="position-relative mb-0"><input class="bg-light-black" type="email" placeholder="ایمیل خود را وارد نمایید"> <button>ارسال</button></li>
                </ul>
                <form action="https://devhostco.xyz/action_page.php">
                    <input type="checkbox" id="policy" name="policy" value="Bike">
                    <label for="policy" class="check-box"></label>
                    <label for="policy"> من با قوانین سایت <a href="#">موفق هستم</a>.</label><br>
                </form>
            </div>
        </div>
    </div>
</section>