{% extends 'base.html' %}

{% block title %} detail page| {{blog.title}}{% endblock %}
{% block header %}{{ form.media }}{% endblock %}

{% block body %}
<h1>Detail blog post page</h1>
<div class="row tm-row">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <!-- Video player 1422x800 -->
        <img style="width: 100%;" src="{{blog.baner.url}}" controls class="tm-mb-40">
    </div>
</div>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <h2 class="pt-2 tm-color-primary tm-post-title">{{blog.title}}</h2>

                    <div class="d-flex justify-content-between align-items-center flex-wrap ">
                        <a href="{% url 'blog:favorite' blog.id %}">
                            <svg class="favorite" xmlns="http://www.w3.org/2000/svg"
                                fill="{% if can_add_to_favorite %}none{% else %}currentColor{% endif %}"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                            </svg>
                        </a>
                        <div>
                            <a class="like" href="{% url 'blog:like' blog.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="{% if can_like %}none{% else %}currentColor{% endif %}" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                </svg>
                            </a>
                            <span class="like">{{blog.like_count}}</span>
                        </div>
                    </div>
                </div>
                <p class="tm-mb-40">creaed at: {{blog.created|date:'Y/m/d'}}<br>
                    last time updated: {{blog.updated|date:'Y/m/d'}}<br>
                    posted by {{blog.author.profile.user_info}}
                </p>
                <p>{{blog.text|safe}}</p>
                <span>Category: </span>
                <span class="tm-color-primary">
                    {% for cat in blog.cates.all %}
                    <span class="category category-detail tm-color-primary">{{cat.title}}</span>
                    {% endfor %}
                </span>
            </div>

            <!-- Comments -->
            <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                {% for comment in comments %}
                <div class="tm-comment tm-mb-45">
                    <figure class="tm-comment-figure">
                        <img src="{{comment.user.profile.profile.url}}" alt="Image"
                            class="mb-2 rounded-circle img-thumbnail">
                        <figcaption class="tm-color-primary text-center">{{comment.user.profile.user_info}}</figcaption>
                    </figure>
                    <div>
                        <p>{{comment.text|safe}}</p>
                        <div class="d-flex justify-content-between">
                            <!-- <a href="#" class="tm-color-primary">REPLY</a> -->
                            <span class="tm-color-primary">{{blog.created|date:'Y/m/d'}}</span>
                        </div>
                    </div>
                </div>
                {% for reply in comment.reply_comments %}
                <div class="tm-comment-reply tm-mb-45">
                    <div class="tm-comment">
                        <figure class="tm-comment-figure">
                            <img src="{{reply.user.profile.profile.url}}" alt="Image"
                                class="mb-2 rounded-circle img-thumbnail">
                            <figcaption class="tm-color-primary text-center">{{reply.user.profile.user_info}}
                            </figcaption>
                        </figure>
                        <p>{{reply.text|safe}}</p>
                    </div>
                    <span class="d-block text-right tm-color-primary">{{reply.created|date:'Y/m/d'}}</span>
                </div>
                {% endfor %}
                <hr>
                {% empty %}
                <p class="alert alert-danger">no comment found</p>
                {% endfor %}
                {% if request.user.is_authenticated %}
                <form action="{% url 'blog:create_comment' blog.id %}" method="post"
                    class="tm-color-secondary mb-5 ">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" value="send" class="btn btn-primary tm-btn-small mt-2">
                </form>
                {% else %}
                <div class="alert alert-danger">for send comment. you should login first</div>
                {% endif %}
            </div>
        </div>
    </div>
    <aside class="col-lg-4 tm-aside-col">
        <div class="tm-post-sidebar">
            <hr class="mb-3 tm-hr-primary">
            <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
            <ul class="tm-mb-75 pl-5 tm-category-list">
                {% for cat in categories %}
                <li><a href="{% url 'blog:blog_all' %}?category={{cat.slug}}" class="tm-color-primary">{{cat.title}}</a>
                </li>
                {% endfor %}
            </ul>
            <hr class="mb-3 tm-hr-primary">
            <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
            {% for related in blog.related_blog %}
            <a href="{{related.get_absolute_url}}" class="d-block tm-mb-40">
                <figure>
                    <img src="{{related.baner.url}}" alt="Image" class="mb-3 img-fluid">
                    <figcaption class="tm-color-primary">{{related.title}}</figcaption>
                </figure>
            </a>
            {% empty %}
            <p class="alert alert-danger">can not find related blog</p>
            {% endfor %}
        </div>
    </aside>
</div>

{% endblock %}