{% extends 'base.html' %}
{% load static %}
{% block title %}show all blog{% endblock %}

{% block body %}
<div class="row tm-row">
    <div class="col-12">
        <form method="GET" action="" class="form-inline tm-mb-80 tm-search-form">                
            <input class="form-control tm-search-input" name="q" type="text" placeholder="Search..." aria-label="Search">
            <button class="tm-search-button" type="submit">
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
            </button>                                
        </form>
    </div>                
</div>            
<div class="row tm-row">
    {% for blog in blogs %}
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="{{blog.get_absolute_url}}" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                <img src="{{blog.baner.url}}" alt="Image" class="img-fluid">                            
            </div>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{blog.title}}</h2>
        </a>                    
        <p class="tm-pt-30">{{blog.text|truncatewords:20}}</p>
        <div class="d-flex justify-content-between align-items-center tm-pt-45">
            <div class="category-container">
                {% for cat in blog.cates.all %}
                <span class="tm-color-primary category">{{cat.title}}</span>
                {% endfor %}
            </div>
            <span class="tm-color-primary">{{blog.updated|date:'Y/m/d'}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <span>{{blog.comments_count}} comments</span>
            <span>author: {{blog.author.profile.full_name}}</span>
        </div>
    </article>
    {% empty %}
    <p class="alert alert-danger col-12">there is no result found for your info</p>
    {% endfor %}
</div>
<div class="tm-mt-100 tm-mb-75">
    <div class="new_paginator">
        <a href="{% if blogs.has_previous %}?page={{ blogs.previous_page_number }}{% endif %}" 
            class="mb-2 tm-btn tm-btn-primary tm-prev-next {% if not blogs.has_previous %}disabled{% endif %}">
                Prev
        </a>
        <nav class="tm-paging-nav d-inline-block">
            <ul>
                {% for num in blogs.paginator.page_range %}
                {% if blogs.number == num %}
                <li class="tm-paging-item active">
                    <span class="mb-2 tm-btn tm-paging-link">{{ num }}</span>
                </li>
                {% else %}
                <li class="tm-paging-item">
                    <a href="?page={{ num }}" class="mb-2 tm-btn tm-paging-link">{{ num }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </nav>
        <a href="{% if blogs.has_next %}?page={{ blogs.next_page_number }}{% endif %}" 
        class="mb-2 tm-btn tm-btn-primary tm-prev-next {% if not blogs.has_next %}disabled{% endif %}">
                Next
        </a>
    </div>                
</div>
{% endblock %}