{% extends 'base.html' %}
{% load static %}
{% block title %}show all blog{% endblock %}

{% block body %}
<div class="row tm-row">
    <div class="col-4 filter">
        {% if search %}<p>search text: {{search}}</p>{% endif %}
        {% if category %}<p>your category: {{category}}</p>{% endif %}
        <p>result found: {{result_count}}</p>
    </div>            
    <div class="col-8">
        <form method="GET" action="" class="form-inline tm-mb-80 tm-search-form">                
            <input class="form-control tm-search-input" name="q" type="text" {% if search %}value="{{search}}" {% endif %} placeholder="Search..." aria-label="Search">
            <button class="tm-search-button" type="submit">
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
            </button>
            <a href="{% url 'blog:blog_all' %}">remove search</a>                         
        </form>
    </div>
</div>            
<div class="row tm-row">
    {% for blog in blogs %}
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="{{blog.get_absolute_url}}" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                <img src="{{blog.baner.url}}" alt="Image" class="img-fluid">                            
            </div>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{blog.title}}</h2>
        </a>                    
        <p class="tm-pt-30">{{blog.text|truncatewords:20}}</p>
        <div class="d-flex justify-content-between align-items-center tm-pt-45">
            <div class="category-container">
                {% for cat in blog.cates.all %}
                <span class="tm-color-primary category">{{cat.title}}</span>
                {% endfor %}
            </div>
            <span class="tm-color-primary">{{blog.updated|date:'Y/m/d'}}</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <div class="parent-info">
                <div class="info">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                    </svg>
                    <span>{{blog.comments_count}}</span>
                </div>
                <div class="info">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                    </svg>
                    <span>{{blog.like_count}}</span>   
                </div>    
            </div>       
            <span>author: {{blog.author.profile.user_info}}</span>
        </div>
    </article>
    {% empty %}
    <p class="alert alert-danger col-12">there is no result found</p>
    {% endfor %}
</div>
{% include 'include/blog_paginator.html' %}
{% endblock %}